<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745125416373-tuq1np9thasmuh0mjtqo59j1cgvu2ckf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745125416373-tuq1np9thasmuh0mjtqo59j1cgvu2ckf</string>
	<key>API_KEY</key>
	<string>AIzaSyBEuhCU60IAAJiAVsbhuScQDThT61Q9eLA</string>
	<key>GCM_SENDER_ID</key>
	<string>745125416373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaishiva.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-7d432</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-7d432.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745125416373:ios:8272d6baaf299118e45dfc</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-7d432.firebaseio.com</string>
</dict>
</plist>